<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="top-label">Relief Assignment</ion-title>
        <ion-button class="top_btn" (click)="logout()">
            Sign Out
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <h3>Accept / Reject Relief Assignment</h3>
        <!--ion-input class="searchInput" placeholder="Search here..."></!--ion-input-->
        <div class="content">
            <div class="menu-block inline" *ngFor="let ret_val of retValues;">
                <ion-label>
                    <span class="dateTime"><b><i>
                        {{ret_val.lesson_date | date : 'dd/MM/yyyy'}}
                        {{ret_val.format_time}} ({{ret_val.lessons_id}})
                    </i></b></span>
                    <span class="classYear"><b>C-{{ret_val.class_name}}</b></span>
                </ion-label>
                <ion-label>
                    <span class="subject"><b>{{ret_val.subject_name}}</b></span>
                    <span class="duration"><b>D-{{ret_val.lesson_duration}}</b></span>
                </ion-label>
                <ion-label>
                    <span class="subject"><b>{{ret_val.subject_teacher_name}}</b></span>
                    <span class="classYear"><b>V-{{ret_val.classroom_name}}</b></span>
                </ion-label>
                <ion-label>
                    <div *ngIf="ret_val.status != 3">
                        <span class="status" [ngClass]="{'request': ret_val.status == 3, 'accepted': ret_val.status == 4, 'rejected': ret_val.status == 2}">{{ret_val.status_name}}</span>
                    </div>
                    <div *ngIf="ret_val.upload_file == 1">
                        <ion-button (click)="openFileModal('document', ret_val.absence_request_table_id)">
                            <ion-icon name="attach-outline"></ion-icon>
                        </ion-button>
                    </div>
                    <div *ngIf="ret_val.status == 3">
                        <ion-button color="danger" (click)="openFileModal('reject', ret_val.absence_request_table_id)">
                            <ion-icon name="close-circle-outline"></ion-icon>
                        </ion-button>
                        <ion-button color="success" (click)="assignAccept(ret_val.absence_request_table_id)">
                            <ion-icon name="checkmark-circle-outline"></ion-icon>
                        </ion-button>
                    </div>
                </ion-label>
            </div>
        </div>
    </div>
</ion-content>