    ion-icon {
        color: #FFF;
        font-size: 30px;
        font-weight: 800;
    }
    
    .top_btn {
        --background: #FFF;
        width: 35px;
        height: 30px;
        font-size: 0;
        float: left;
        --border-radius: 0 !important;
        --box-shadow: unset;
        --color: #555;
    }
    
    #container {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        width: 98%;
        margin: auto;
        height: auto;
        background-color: #FFF;
        border-radius: 3px;
        padding: 20px 0 30px;
        overflow: hidden;
    }
    
    #container h3,
    #container .content {
        width: 98%;
        height: auto;
        line-height: 20px;
        float: left;
        margin: auto 1%;
        overflow: hidden;
    }
    
    #container h3 {
        font-size: 17px;
        padding: 10px 0 14px;
        text-shadow: 0 1px 2px #999;
    }
    
    #container .searchInput {
        width: 60%;
        height: 35px;
        margin: auto;
        border: 1px solid #999;
        border-radius: 3px;
        text-align: left;
        outline: none;
        font-size: 14px;
    }
    
    .content {
        padding: 10px 5px;
        box-sizing: border-box;
    }
    
    .menu-block {
        min-height: 100px;
        height: auto;
        width: 48%;
        background-color: #FFF;
        box-shadow: 0 0 20px #EEE;
        float: left;
        margin: 10px 0;
        border-radius: 5px;
        padding: 5px 5px 7px;
    }
    
    .menu-block:nth-child(odd) {
        float: left;
    }
    
    .menu-block:nth-child(even) {
        float: right;
    }
    
    .menu-block img {
        float: left;
        margin: 0 32.5% 10px;
    }
    
    .inline {
        width: 100% !important;
        min-height: unset;
        height: auto;
        margin-bottom: 0;
        img {
            margin: 0 20px 0 10px;
        }
        ion-label {
            float: left;
            width: 100% !Important;
            line-height: 18px;
            margin: 5px 0 0;
            text-align: left;
            height: auto;
            font-size: 12px;
            padding: 0 5px;
            .status {
                float: left;
                text-transform: uppercase;
                font-weight: 600;
                line-height: 40px;
            }
            .accepted {
                color: #04af0d;
                text-shadow: 0 1px 1px #555;
            }
            .request {
                color: #ffd30e;
                text-shadow: 1px 1px 1px #555;
            }
            .rejected {
                color: #ca0000;
            }
            .dateTime {
                float: left;
                color: #f52d00;
                text-shadow: 0 1px 2px #999;
            }
            .classYear {
                float: right;
                color: #005dff;
                text-shadow: 0 1px 2px #999;
            }
            .subject {
                float: left;
                text-transform: uppercase;
                text-shadow: 0 1px 1px #BBB;
                color: #000;
            }
            .duration {
                float: right;
                color: #1e1e1e;
                text-shadow: 0 1px 2px #999;
            }
            ion-button {
                height: 30px;
                width: 30px;
                font-size: 4px;
                --border-radius: 0;
                float: right;
                margin-left: 5px;
                margin-right: 0;
                text-transform: capitalize;
            }
        }
        ion-label:last-child {
            border-top: 1px solid #DDD;
        }
    }