ion-header h3 {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    text-shadow: 0 0 1px #999;
    margin: 5px 0;
}

ion-header h3 span {
    float: left;
    margin-left: 20px;
}

ion-header h3 ion-button {
    float: right;
    margin: 5px;
    height: 30px;
    width: 30px;
    --border-radius: 50%;
    font-size: 11px;
}

ion-content {
    padding: 10px 30px;
    p {
        font-size: 13px;
        line-height: 16px;
        margin: 0;
        padding: 5px 0;
        width: 100%;
        span:first-child {
            float: left;
            margin-bottom: 5px;
            font-style: italic;
        }
        span:nth-child(2) {
            float: right;
            b {
                float: left;
                line-height: 30px;
                margin-right: 10px;
            }
            ion-button {
                height: 30px;
                width: 30px;
                font-size: 4px;
                --border-radius: 0;
                float: left;
                margin: 0;
                text-transform: capitalize;
                ion-icon {
                    font-size: 30px;
                    --color: #FFF;
                }
            }
            ion-button:last-child {
                margin-left: 5px;
            }
        }
    }
}

ion-footer ion-button {
    float: right;
    --border-radius: 2px;
    margin-right: 5px;
    font-size: 14px;
    text-transform: capitalize;
    height: 30px;
    width: 80px;
}