<ion-header>
    <h3>
        <span>Documents</span>
        <ion-button color="danger" (click)="dismiss()">x</ion-button>
    </h3>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let fileV of fileList">
            <p>
                <span>{{fileV.file_title}}</span>
                <span>
                  <b>{{fileV.file_type}}</b>
                  <!--ion-button>
                    <ion-icon name="eye-outline"></ion-icon>
                  </!--ion-button-->
                  <ion-button>
                    <ion-icon name="download-outline"></ion-icon>
                  </ion-button>
                </span>
            </p>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-button color="danger" (click)="dismiss()">Close</ion-button>
</ion-footer>