ion-header h3 {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    text-shadow: 0 0 1px #999;
    margin: 5px 0;
}

ion-header h3 span {
    float: left;
    margin-left: 20px;
}

ion-header h3 ion-button {
    float: right;
    margin: 5px;
    height: 30px;
    width: 30px;
    --border-radius: 50%;
    font-size: 11px;
}

ion-content {
    padding: 10px 30px;
}

ion-footer ion-button {
    float: right;
    --border-radius: 2px;
    margin-right: 5px;
    font-size: 14px;
    text-transform: capitalize;
}

form {
    height: auto;
    width: 100%;
    float: left;
    overflow: hidden;
    margin: 10px 0;
}

form div {
    width: 90%;
    height: auto;
    overflow: hidden;
    margin: 10px auto 20px;
}

form div ion-label {
    margin-bottom: 7px;
    float: left;
    width: 100%;
    font-size: 14px;
    text-shadow: 0 0 1px #AAA;
}

form div ion-input,
form div ion-select,
form div ion-textarea,
ion-datetime {
    float: left;
    border: 1px solid #DDD;
    border-radius: 3px;
    width: 100%;
}

form div ion-input,
form div ion-select,
ion-datetime {
    height: 35px;
    font-size: 14px;
}

form div ion-input[type=file] {
    --padding-top: 0px;
    --padding-bottom: 0px;
}

form div ion-textarea {
    padding: 5px;
    height: 120px;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}