<ion-header>
    <h3>
        <span>Add Class</span>
        <ion-button color="danger" (click)="dismiss()">x</ion-button>
    </h3>
</ion-header>
<ion-content>
    <form>
        <div>
            <ion-label>Class</ion-label>
            <ion-select placeholder="Select Class" interface="popover">
                <ion-select-option>1E</ion-select-option>
            </ion-select>
        </div>
        <div>
            <ion-label>Subject</ion-label>
            <ion-select placeholder="Select Subject" interface="popover">
                <ion-select-option>ALP</ion-select-option>
            </ion-select>
        </div>
        <div>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" min="2010-01-01" max="2050-12-31" value="{{currntDate}}"></ion-datetime>
        </div>
        <div>
            <ion-label>Venue</ion-label>
            <ion-select placeholder="Select Venue" interface="popover">
                <ion-select-option>Blank</ion-select-option>
            </ion-select>
        </div>
        <div>
            <ion-label>Start Lesson</ion-label>
            <ion-select placeholder="Select Start Lesson" interface="popover">
                <ion-select-option>1 (7:40 - 8:10)</ion-select-option>
            </ion-select>
        </div>
        <div>
            <ion-label>Combine Lesson</ion-label>
            <ion-input type="number" min="1" max="10" [value]="1"></ion-input>
        </div>
    </form>
</ion-content>
<ion-footer>
    <ion-button color="danger" (click)="dismiss()">Cancel</ion-button>
    <ion-button>Add</ion-button>
</ion-footer>