<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="top-label">Request for Relief</ion-title>
        <ion-button class="top_btn" (click)="logout()">
            Sign Out
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <div class="content">
            <ion-card>
                <form [formGroup]="requestForm">
                    <ion-card-header>
                        <ion-card-title>Request for Relief</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div class="form-div">
                            <ion-label>Reason of Absence</ion-label>
                            <ion-select placeholder="Select Leave Type" interface="popover" formControlName="leaveType" (click)="getLeaveType()">
                                <ion-select-option *ngFor="let leave of leaveTypes" [value]="leave.id">{{leave.leave_type}}</ion-select-option>
                            </ion-select>
                        </div>
                        <div class="form-div ">
                            <ion-label>Start Date</ion-label>
                            <ion-datetime displayFormat="DD/MM/YYYY" min="2010-01-01" max="2050-12-31" formControlName="startDate"></ion-datetime>
                        </div>
                        <div class="form-div ">
                            <ion-label>End Date</ion-label>
                            <ion-datetime displayFormat="DD/MM/YYYY" min="2010-01-01" max="2050-12-31" formControlName="endDate"></ion-datetime>
                        </div>
                    </ion-card-content>
                    <ion-footer>
                        <ion-toolbar>
                            <ion-button type="reset" class="foot-btn" color="danger">Clear</ion-button>
                            <ion-button class="foot-btn" color="success" (click)="retrive()" [disabled]="!requestForm.valid">Retrieve</ion-button>
                        </ion-toolbar>
                    </ion-footer>
                </form>
            </ion-card>
        </div>
    </div>
</ion-content>