ion-icon {
    font-size: 30px;
    color: #333;
}

ion-icon[name=exit] {
    color: #f53636;
}

.top_btn,
.foot-btn {
    --background: #FFF;
    width: 35px;
    height: 30px;
    font-size: 0;
    float: left;
    --border-radius: 0 !important;
    --box-shadow: unset;
    --color: #555;
}

.top_btn:last-child {
    width: auto;
    padding: 0 5px;
    font-size: 13px;
    float: right;
    text-transform: uppercase;
    text-shadow: 0 1px 2px #999;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 98%;
    margin: auto;
    height: auto;
    background-color: #FFF;
    border-radius: 3px;
    padding: 20px 0 30px;
    overflow: hidden;
}

#container .content {
    width: 100%;
    height: auto;
    line-height: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
}

.content ion-card {
    width: 95% !important;
    margin: auto !important;
    border-radius: 2px;
}

ion-card-header {
    border-bottom: 1px solid #DDD;
}

ion-card-title {
    font-size: 20px;
    color: #333;
    /* text-shadow: 0 0 1px #555; */
    font-weight: 500;
}

.form-div {
    width: 100%;
    height: auto;
    padding: 5px 0;
    overflow: hidden;
    margin-bottom: 5px;
}

.form-div:first-child {
    margin-top: 10px;
}

.form-div ion-label {
    text-align: left;
    width: 100%;
    float: left;
    font-size: 14px;
    color: #444;
    text-shadow: 0 0 1px #AAA;
}

.form-div ion-input,
.form-div ion-select,
.form-div ion-datetime,
.form-div ion-textarea {
    border: 1px solid #BBB;
    padding: 5px 8px !important;
    height: 35px;
    text-align: left;
    margin-top: 3px;
    float: left;
    border-radius: 3px;
    width: 100%;
    color: #000;
    font-size: 14px;
}

.form-div ion-textarea {
    height: auto;
    border: 1px solid #AAA;
    line-height: 20px;
    text-align: left;
    border-radius: 3px;
    font-size: 14px;
}

.sc-ion-textarea-ios-h {
    --padding-top: 0px;
    --padding-end: 0px;
    --padding-bottom: 0px;
    height: 78px;
}

.foot-btn {
    width: 110px;
    font-size: 13px;
    height: 30px;
    text-shadow: 0 0 2px #000;
    float: left;
    --border-radius: 2px !important;
    text-transform: capitalize;
}

.foot-btn:last-child {
    float: right;
    --ion-color-base: #015c25 !important;
}