<ion-header class=" ion-no-border">
    <ion-toolbar class="head-back">
        <h3>
            <span>Recommended Teacher</span>
            <ion-button color="danger" (click)="dismiss()">x</ion-button>
        </h3>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col class="col-bord" size="4">
                <ion-checkbox class="mycheck" color="danger" [(ngModel)]="available" (ionChange)="chngcheckbox()">
                </ion-checkbox>
                <ion-label class="label-class blue-col">Available</ion-label>
            </ion-col>
            <ion-col class="col-bord" size="8">
                <ion-checkbox color="danger" [(ngModel)]="department" (ionChange)="chngcheckbox()"></ion-checkbox>
                <ion-label class="label-class blue-col">Teaching Same Department</ion-label>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="col-bord" size="6">
                <ion-checkbox color="danger" [(ngModel)]="lesson" (ionChange)="chngcheckbox()"></ion-checkbox>
                <ion-label class="label-class">No Consecutive Lesson</ion-label>
            </ion-col>
            <ion-col class="col-bord" size="6">
                <ion-checkbox color="danger" [(ngModel)]="sameclass" (ionChange)="chngcheckbox()"></ion-checkbox>
                <ion-label class="label-class">Teaching same class</ion-label>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="col-bord">
                <ion-checkbox color="danger" [(ngModel)]="relief" (ionChange)="chngcheckbox()"></ion-checkbox>
                <ion-label class="label-class">Last 7d Relief ≤ 5</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-card class="log-card ion-margin-top">
        <p class="left">Show</p>
        <ion-select [(ngModel)]="entries" class="entries" placeholder="10">
            <ion-select-option value="10">10</ion-select-option>
            <ion-select-option value="25">25</ion-select-option>
            <ion-select-option value="50">50</ion-select-option>
            <ion-select-option value="100">100</ion-select-option>
        </ion-select>
        <p class="entries-text">Entries</p>

        <ion-input type="text" class="my-input" placeholder="Search" (keyup)="serchtrans()" [(ngModel)]="searchTerm">
        </ion-input>
        <p class="black-col ion-float-right">Search : &nbsp;</p>
    </ion-card>

    <!--
<div style="overflow-x:auto; margin-top:5px;">
  <table>
    <tr>
      <th>Name <ion-icon style="color:#808080;" name="arrow-up-outline"></ion-icon></th>
      <th class="blue-col">Available <ion-icon style="color:#808080;" name="arrow-up-outline"></ion-icon></th>
      <th class="blue-col">Teaching Same Department  <ion-icon style="color:#808080;" name="arrow-up-outline"></ion-icon></th>
      <th>No Consecutive Lesson  <ion-icon style="color:#808080;" name="arrow-up-outline"></ion-icon></th>
      <th>Teaching Same Class  <ion-icon style="color:#808080;" name="arrow-up-outline"></ion-icon></th>
      <th>Last 7d Relief &lt;  <ion-icon style="color:#808080;" name="arrow-up-outline"></ion-icon></th>
      <th>Last Assignment <ion-icon style="color:#808080;" name="arrow-up-outline"></ion-icon></th>
      <th>Period No <ion-icon style="color:#808080;" name="arrow-up-outline"></ion-icon></th>
      <th class="darkgreencol">Total <ion-icon style="color:#808080;" name="arrow-up-outline"></ion-icon></th>
      <th>Action</th>
         </tr>
    <tr>
      <td>LAWRENCE TAN YONG CHONG</td>
      <td>1</td>
      <td>1</td>
      <td class="darkgreenback">1</td>
      <td class="darkgreenback">1</td>
      <td class="darkgreenback">0</td>
      <td>20/11/2020</td>
      <td>4</td>
      <td>4</td>
      <td><ion-button class="select-but" (click)="presentAlert()">select</ion-button></td>
    </tr>   
	<tr>
      <td>LEE YI QIAO</td>
      <td>1</td>
      <td>1</td>
      <td class="darkgreenback">1</td>
      <td class="darkgreenback">1</td>
      <td class="darkgreenback">0</td>
      <td>20/11/2020</td>
      <td>6</td>
      <td>4</td>
      <td><ion-button class="select-but" (click)="presentAlert()">select</ion-button></td>
    </tr>
	
  <tr>
      <td>OW GAN PIN</td>
      <td>1</td>
      <td>1</td>
      <td class="darkgreenback">1</td>
      <td class="darkgreenback">1</td>
      <td class="darkgreenback">0</td>
      <td></td>
      <td>6</td>
      <td>4</td>
      <td><ion-button class="select-but" (click)="presentAlert()">select</ion-button></td>
    </tr>
  
  </table>
  </div>
-->
    <div *ngIf="teachers">
        <ion-card class="log-card" *ngFor="let teach of teachers.data;">
            <p class="card-text marg-bott">Name:{{teach.full_name}}</p>
            <p class="card-text blue-col">Available: <span class="inside-text">{{teach.available_on_selected_dates}}</span></p>
            <p class="card-text blue-col">Teaching Same Dept: <span class="inside-text">{{teach.trained_grouped_on_the_same_subjects}}</span></p>
            <p class="card-text darkgreencol">No Consecutive Lesson: <span class="inside-text">{{teach.allow_consecutive_class}}</span></p>
            <p class="card-text darkgreencol">Teaching Same Level: <span class="inside-text">{{teach.allow_any_level_grade}}</span></p>
            <p class="card-text darkgreencol">Last 7 Days Relief
                <=5: <span class="inside-text">{{teach.last_7_days_relief}}</span>
            </p>
            <p class="card-text">Total Score: <span class="inside-text">{{teach.total_weight}}</span></p>
            <p class="card-text">Last Assignment: <span class="inside-text">{{teach.last_assign}}</span></p>
            <p class="card-text">Total Period Number: <span class="inside-text">{{teach.total_period}}</span></p>
            <ion-button class="right-butt" color="success" (click)="presentAlert(teach)">select</ion-button>
        </ion-card>
    </div>

    <ion-card class="log-card ion-margin-top">
        <p class="left">showing 1 to 10 of 13 entries</p>

        <p class="blue-col ion-float-right marg-right">Next</p>
        <p class="blue-col ion-float-right marg-right">Previous</p>

    </ion-card>


</ion-content>
<!--
<ion-footer>
    <ion-button color="danger" (click)="dismiss()">Close</ion-button>
</ion-footer>
-->