ion-content
{
--background:#eeeeee;
}

.head-back
{
--background:#eeeeee !important;
}

.cancelalert
{
background:red;
}

.col-bord
{
border:1px solid #8c8c8c;
}
ion-header h3 {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    text-shadow: 0 0 1px #999;
    margin: 5px 0;
}


table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd; 
  margin-left:0px;
  float:left;
}
table tr:nth-child(odd) td{
  background:#eeeeee;
}
table tr:nth-child(even) td{
 background:white;
}
tr
{
border:1px solid white;
border-left:1px solid white;
}
th
{
  background:#eeeeee;

  }

th, td {
 white-space: nowrap;
width:100% !important;
  text-align: left;
  padding: 5px !important; 
  font-size:12px;
  border-left:1px solid white;
}
.card-text
{
margin-left:3px;
font-size:16px;
line-height: 0.5;
color:black;
}
.inside-text
{
float:right;
margin-right:50px;
}
.marg-bott
{
line-height: 1.5;
}
.right
{
float:right;
display:inline-block;
}
.label-class
{
margin-left:10px;
margin-bottom:10px;
font-size:12px;
}

.left
{
float:left !important;
color:black;
margin-left:3px;
}
.blue-col
{
color:#23a6bb;
}
.darkgreencol
{
color:#39ad54;
}
.darkgreenback
{
background:#d9f4d7!important;
}
.marg-right
{
margin-right:5px !important;
}
.select-but
{
--background:#39ad54;
--border-radius:0px;
font-size:10px;
}
.right-butt
{
float:right;
margin-right:30px;
margin-bottom:5px;
  text-transform:  capitalize;
}
.entries
{
--placeholder-opacity:1;
--placeholder-color: black !important;
background:white;
border:1px solid #c2c2c2;
color:black;
margin-bottom:-5px ;
padding-top:0px;
padding-bottom:0px;
margin-left : 5px; float:left !important;
margin-top:10px;
}
.entries-text
{
margin-left:5px;
color:black;
float:left !important;
}
.black-col
{
color:black;
}
.my-input
{
border:1px solid #c2c2c2;
color:black;
float:right;
width:30%;
margin-right:5px;
display:inline-block;
height:25px;
margin-top:10px;
}

.mycheck
{
border:1 px solid #b9336d !important;
}
ion-header h3 span {
    float: left;
    margin-left: 20px;
}


ion-header h3 ion-button {
    float: right;
    margin: 5px;
    height: 30px;
    width: 30px;
    --border-radius: 50%;
    font-size: 11px;
}


ion-footer ion-button {
    float: right;
    --border-radius: 2px;
    margin-right: 5px;
    font-size: 14px;
    height: 30px;
    width: 80px;
}