<ion-header>
    <h3>
        <span>Upload Files</span>
        <ion-button color="danger" (click)="dismiss()">x</ion-button>
    </h3>
</ion-header>
<ion-content>
    <form [formGroup]="retrieveFile" id="fileForm">
        <div class="form_div">
            <ion-label>Description</ion-label>
            <ion-textarea rows="6" cols="20" placeholder="Document's Description.." formControlName="description"></ion-textarea>
        </div>
        <div class="form_div">
            <ion-label>Title</ion-label>
            <ion-input type="text" placeholder="Enter Document's Title..." formControlName="title"></ion-input>
        </div>
        <div class="form_div">
            <ion-label>Documents</ion-label>
            <ion-input type="file" formControlName="uploadedFile" (change)="onFileChange($event)"></ion-input>
        </div>
        <div *ngFor="let div of totalDiv">
            <ion-input type="hidden" class="hiddenInput"></ion-input>
            <div class="form_div">
                <ion-label><span>{{div.title}}</span><span><ion-button color="danger">x</ion-button></span></ion-label>
                <ion-input type="text" placeholder="Enter Document's Title..." formControlName="title"></ion-input>
            </div>
            <div class="form_div">
                <ion-label>Documents</ion-label>
                <ion-input type="file" formControlName="uploadedFile" (change)="onFileChange($event)"></ion-input>
            </div>
        </div>
    </form>
</ion-content>
<ion-footer>
    <!--ion-button color="warning" class="warning-btn" (click)="addNewContent()">+ Add</!--ion-button-->
    <ion-button (click)="fileUpload()" style="float: right;">Upload</ion-button>
</ion-footer>