<ion-header>
    <h3>
        <span>History</span>
        <ion-button color="danger" (click)="dismiss()">x</ion-button>
    </h3>
</ion-header>

<ion-content>
    <div id="container">
        <div class="content">
            <div class="menu-block inline">
                <ion-label>
                    <span class="dateTime"><b><i>02/11/2020 11:40 AM</i></b></span>
                </ion-label>
                <ion-label>
                    <span class="subject"><b>LEONG SWEET LEE</b></span>
                    <span class="classYear"><b>Yet to Send Request</b></span>
                </ion-label>
                <ion-label>
                    <span class="subject"><b>Comments</b></span>
                </ion-label>
            </div>
            <div class="menu-block inline">
                <ion-label>
                    <span class="dateTime"><b><i>02/11/2020 11:40 AM</i></b></span>
                </ion-label>
                <ion-label>
                    <span class="subject"><b>LEONG SWEET LEE</b></span>
                    <span class="classYear"><b>Rejected</b></span>
                </ion-label>
                <ion-label>
                    <span class="subject"><b>Comments</b></span>
                </ion-label>
            </div>
            <div class="menu-block inline">
                <ion-label>
                    <span class="dateTime"><b><i>02/11/2020 11:40 AM</i></b></span>
                </ion-label>
                <ion-label>
                    <span class="subject"><b>LEONG SWEET LEE</b></span>
                    <span class="classYear"><b>Request Sent</b></span>
                </ion-label>
                <ion-label>
                    <span class="subject"><b>Comments</b></span>
                </ion-label>
            </div>
            <div class="menu-block inline">
                <ion-label>
                    <span class="dateTime"><b><i>02/11/2020 11:40 AM</i></b></span>
                </ion-label>
                <ion-label>
                    <span class="subject"><b>LEONG SWEET LEE</b></span>
                    <span class="classYear"><b>Yet to Send Request</b></span>
                </ion-label>
                <ion-label>
                    <span class="subject"><b>Comments</b></span>
                </ion-label>
            </div>
            <div class="menu-block inline">
                <ion-label>
                    <span class="dateTime"><b><i>02/11/2020 11:40 AM</i></b></span>
                </ion-label>
                <ion-label>
                    <span class="subject"><b>LEONG SWEET LEE</b></span>
                    <span class="classYear"><b>Request Sent</b></span>
                </ion-label>
                <ion-label>
                    <span class="subject"><b>Comments</b></span>
                </ion-label>
            </div>
            <div class="menu-block inline">
                <ion-label>
                    <span class="dateTime"><b><i>02/11/2020 11:40 AM</i></b></span>
                </ion-label>
                <ion-label>
                    <span class="subject"><b>LEONG SWEET LEE</b></span>
                    <span class="classYear"><b>Yet to Send Request</b></span>
                </ion-label>
                <ion-label>
                    <span class="subject"><b>Comments</b></span>
                </ion-label>
            </div>
        </div>
    </div>
</ion-content>