ion-header h3 {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    text-shadow: 0 0 1px #999;
    margin: 5px 0;
}

ion-header h3 span {
    float: left;
    margin-left: 20px;
}

ion-header h3 ion-button {
    float: right;
    margin: 5px;
    height: 30px;
    width: 30px;
    --border-radius: 50%;
    font-size: 11px;
}

#container {
    width: 100%;
    float: left;
    .content {
        width: 100%;
        height: auto;
        float: left;
        .inline {
            width: 100% !important;
            min-height: unset;
            height: auto;
            padding: 10px;
            float: left;
            border-bottom: 1px solid #AAA;
            ion-label {
                float: left;
                width: 100% !Important;
                line-height: 18px;
                margin: 5px 0 0;
                text-align: left;
                height: auto;
                font-size: 12px;
                padding: 0 5px;
                .accepted {
                    float: left;
                    text-transform: uppercase;
                    color: #04af0d;
                    font-weight: 600;
                    line-height: 40px;
                }
                .dateTime {
                    float: left;
                    color: #f52d00;
                    text-shadow: 0 1px 2px #999;
                }
                .classYear {
                    float: right;
                    color: #005dff;
                    text-shadow: 0 1px 2px #999;
                }
                .subject {
                    float: left;
                    text-transform: uppercase;
                    text-shadow: 0 1px 2px #AAA;
                    color: #444;
                }
                .duration {
                    float: right;
                    color: #1e1e1e;
                    text-shadow: 0 1px 2px #999;
                }
                ion-button {
                    height: 30px;
                    width: 30px;
                    font-size: 4px;
                    --border-radius: 0;
                    float: right;
                    margin-left: 5px;
                    margin-right: 0;
                    text-transform: capitalize;
                }
            }
        }
    }
}