<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Mainur Alam</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id=" container ">
        <strong class="capitalize ">{{test}}</strong>
        <p>Explore <a target="_blank " rel="noopener noreferrer " href="https://ionicframework.com/docs/components ">UI Components</a></p>
    </div>
</ion-content>