<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="top-label">Relief Assignment by HOD / Relief Team</ion-title>
        <ion-button class="top_btn" (click)="logout()">
            Sign Out
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <h3>Relief Assignment by HOD / Relief Team</h3>
        <ion-input class="searchInput" placeholder="Search here..." [(ngModel)]="searchTerm" (ngModelChange)="setFilteredItems(searchTerm)"></ion-input>
        <ion-button color="success" class="sub-butt" (click)="sendrequest()">Send</ion-button>
        <div class="content">
            <!--        
		<div class="menu-block inline">
                <ion-label>
                    <span class="dateTime">02/11/2020 11:40 AM</span>
                    <span class="classYear">C-1R</span>
                </ion-label>
                <ion-label>
                    <span class="subject">SUB: ELEMENT OF BUSINESS STUDIES</span>
                    <span class="duration">D-30</span>
                </ion-label>
                <ion-label>
                    <span class="subject">TEA: LEONG SWEET LEE</span>
                    <span class="classYear">V-CL4,CL3,D12</span>
                </ion-label>
                <ion-label>
                    <span class="req-sent">Request Sent</span>
                    <span class="tea-name">LEONG SWEET LEE </span>
                </ion-label>
            </div>
			
			
			    <div class="menu-block inline">
                <ion-label>
                    <span class="dateTime"><b><i>02/11/2020 11:40 AM (9)</i></b></span>
                    <span class="classYear"><b>C-1R</b></span>
                </ion-label>
                <ion-label>
                    <span class="subject"><b>SUB: ELEMENT OF BUSINESS STUDIES</b></span>
                    <span class="duration"><b>D-30</b></span>
                </ion-label>
                <ion-label>
                    <span class="subject"><b>TEA: LEONG SWEET LEE</b></span>
                    <span class="classYear"><b>V-CL4,CL3,D12</b></span>
                </ion-label>
                <ion-label>
                    <span class="not-assign">Yet to Assign</span>
                    <ion-button color="primary" (click)="available()">Available</ion-button>
                </ion-label>
            </div>
			-->

            <div *ngIf="assignments">
                <div class="menu-block inline" *ngFor="let assign of assignments.data;">
                    <ion-label>
                        <span class="dateTime">{{assign.lesson_date}} {{assign.lesson_time}} ({{assign.lessons_id}})</span>
                        <span class="classYear">{{assign.class_name}}</span>
                    </ion-label>
                    <ion-label>
                        <span class="subject"> {{assign.subject_name}}</span>
                        <span class="duration">{{assign.lesson_duration}}</span>
                    </ion-label>
                    <ion-label>
                        <span class="subject"> {{assign.sub_teacher}}</span>
                        <span class="classroom">{{assign.classroom_name}}</span>
                    </ion-label>
                    <ion-label>
                        <span class="req-sent">{{assign.status_name}}</span>
                        <ion-button color="primary" *ngIf="assign.available_button == 1" (click)="available(assign)">Available</ion-button>

                        <span class="tea-name">{{assign.assigned_teacher_name}}</span>

                    </ion-label>
                    <ion-label *ngIf="assign.reject_reason">
                        <span class="reject_reas">{{assign.reject_reason}}</span>
                    </ion-label>
                </div>

            </div>

        </div>
    </div>
</ion-content>