ion-icon {
    font-size: 30px;
    color: #333;
}

ion-icon[name=exit] {
    color: #f53636;
}

.top_btn {
    --background: #FFF;
    width: 35px;
    height: 30px;
    font-size: 0;
    float: left;
    --border-radius: 0 !important;
    --box-shadow: unset;
    --color: #555;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 98%;
    margin: auto;
    height: auto;
    background-color: #FFF;
    border-radius: 3px;
    padding: 20px 0 30px;
    overflow: hidden;
}

#container h3,
#container .content {
    width: 98%;
    height: auto;
    line-height: 20px;
    float: left;
    margin: auto 1%;
    overflow: hidden;
}

#container h3 {
    font-size: 17px;
    padding: 10px 0 14px;
}

#container .searchInput {
    width: 65%;
    height: 35px;
    border: 1px solid #999;
    border-radius: 3px;
    text-align: left;
    outline: none;
    font-size: 14px;
	display:inline-block;
}
.sub-butt
{
margin-top:0px;
display:inline-block;
float:right;
}

.content {
    padding: 10px 5px;
    box-sizing: border-box;
}

.menu-block {
    min-height: 100px;
    height: auto;
    width: 48%;
    background-color: #FFF;
    box-shadow: 0 0 20px #EEE;
    float: left;
    margin: 10px 0;
    border-radius: 5px;
    padding: 5px 5px 7px;
}

.menu-block:nth-child(odd) {
    float: left;
}

.menu-block:nth-child(even) {
    float: right;
}

.menu-block img {
    float: left;
    margin: 0 32.5% 10px;
}

.inline {
    width: 100% !important;
    min-height: unset;
    height: auto;
    margin-bottom: 0;
}

.inline img {
    margin: 0 20px 0 10px;
}

.inline ion-label {
    float: left;
    width: 100% !Important;
    line-height: 18px;
    margin: 5px 0 0;
    text-align: left;
    height: auto;
    font-size: 12px;
    padding: 0 5px;
}


.inline ion-label:last-child {
    border-top: 1px solid #DDD;
}

.inline ion-label .dateTime {
    float: left;
	background-color:yellow;
}

.inline ion-label .classYear {
    float: right;
	background:#414f81;
    color: white;
	padding-left:3px;
	padding-right:3px;
}
.inline ion-label .reject_reas
{
float:left;
font-size:12px;
margin-top:3px;
background:#df4c5a;
color:white;
}

.inline ion-label  .classroom
{
color:black;
   float: right;
}

.inline ion-label .subject {
    float: left;
    text-transform: uppercase;
    color: #444;
}

.inline ion-label .duration {
    float: right;
    color: #1e1e1e;
}

.inline ion-label ion-button {
    height: 30px;
    width: 80px;
    font-size: 12px;
    --border-radius: 0;
    float: right;
    margin-left: 5px;
    margin-right: 0;
    text-transform: capitalize;
}

.not-assign,
.req-sent,
.req-accept,
.tea-name,
.req-send {
    line-height: 40px;
    font-size: 12px;
	color:black;
    float: left;
}

.req-sent {
    color: #fdc000;
    color:black;
    color:black;
}

.req-accept {
    color: #009e3f;
    text-shadow: 0 1px 1px #000;
}

.tea-name {
    float: right;
    color: #333;
}

.req-send {
    color: #3171e0;
    text-shadow: 0 1px 1px #666;
}