<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay" style="--width:340px;" side="start" menuId="mainMenu">
            <ion-content>
                <div class="logo">
                    <img src="./assets/logo/rt-logo.png" />
                </div>
                <ion-list id="inbox-list">
                    <ion-list-header style="margin-bottom: 10px;">{{user_name}}</ion-list-header>
                    <ion-note>{{user_phon}}</ion-note>

                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                        <ion-item *ngIf="p.status == 1" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>

    </ion-split-pane>
</ion-app>