ion-icon {
    font-size: 30px;
    color: #333;
}

ion-icon[name=exit] {
    color: #f53636;
}

.top_btn {
    --background: #FFF;
    width: 35px;
    height: 30px;
    font-size: 0;
    float: left;
    --border-radius: 0 !important;
    --box-shadow: unset;
    --color: #555;
}

.top_btn:last-child {
    width: auto;
    padding: 0 5px;
    font-size: 13px;
    float: right;
    text-transform: uppercase;
    text-shadow: 0 1px 2px #999;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 98%;
    margin: auto;
    height: auto;
    background-color: #FFF;
    border-radius: 3px;
    padding: 20px 0 30px;
    overflow: hidden;
    p,
    .content {
        height: auto;
        line-height: 20px;
        float: left;
        box-sizing: border-box;
    }
    p {
        width: 90%;
        margin: 10px 5%;
    }
    .content {
        width: 98%;
        margin: 10px 1%;
        padding: 10px 20px;
    }
}

.menu-block {
    min-height: 100px;
    height: auto;
    width: 48%;
    background-color: #FFF;
    box-shadow: 0 0 20px #EEE;
    float: left;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px 0;
    img {
        float: left;
        margin: 0 32.5% 10px;
    }
    ion-label {
        width: 100%;
        height: auto;
        line-height: 16px;
        font-size: 13.5px;
        float: left;
        text-align: center;
        padding: 0 20px;
    }
}

.inline {
    width: 100% !important;
    min-height: unset;
    height: 70px;
    margin-bottom: 10px;
    img {
        margin: 0 0 0 10px;
    }
    ion-label {
        float: left;
        width: 65% !important;
        line-height: 22px;
        margin: 5px 0;
        text-align: left;
        height: 40px;
        font-size: 16px;
        display: flex;
        align-items: center;
    }
}