<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="top-label">{{this.user_name}}</ion-title>
        <ion-button class="top_btn" (click)="logout()">
            Sign Out
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <p *ngIf="this.tel_user == ''">You are not registered to receive notifications from Telegram. Please install Telegram app and
            <a href="https://t.me/RtDevBot" target="_system">Click</a> here to register.</p>
        <!--div-- class=" content ">
            <div class="menu-block ">
                <img src="./assets/other/request.png " />
                <ion-label>Relief Request</ion-label>
            </div>
            <div class="menu-block ">
                <img src="./assets/other/assignment.png " />
                <ion-label>Relief Assignment By HOD / Relief Team</ion-label>
            </div>
            <div class="menu-block ">
                <img src="./assets/other/decision.png " />
                <ion-label>Accept / Reject Relief Assignment</ion-label>
            </div>
        </div-->
        <div class="content ">
            <div class="menu-block inline" (click)="pageUrl(1)">
                <img src="./assets/other/request.png " />
                <ion-label>Request for Relief</ion-label>
            </div>
            <div *ngIf="this.hod == true" class="menu-block inline" (click)="pageUrl(2)">
                <img src="./assets/other/assignment.png " />
                <ion-label>Relief Assignment By HOD / Relief Team</ion-label>
            </div>
            <div class="menu-block inline" (click)="pageUrl(3)">
                <img src="./assets/other/decision.png " />
                <ion-label>Acknowledge / Unable to Relief</ion-label>
            </div>
        </div>
    </div>
</ion-content>