<ion-header>
    <h3>
        <span>Provide Reject Reason</span>
        <ion-button color="danger" (click)="dismiss()">x</ion-button>
    </h3>
</ion-header>
<ion-content>
    <form [formGroup]="rejectForm" (onsubmit)="rejectionDone()">
        <div class="form-content">
            <ion-label>Choose Your Reason</ion-label>
            <ion-select interface="popover" placeholder="Choose Reason" formControlName="reasonSelect">
                <ion-select-option *ngFor="let types of rejectType" [value]="types.id">{{types.reason_name | titlecase}}</ion-select-option>
            </ion-select>
            <div *ngIf="rejectForm.get('reasonSelect').value == 5">
                <ion-label>Other Details</ion-label>
                <ion-textarea rows="6" cols="20" placeholder="Details about Rejection.." formControlName="otherReason"></ion-textarea>
            </div>
        </div>
    </form>
</ion-content>
<ion-footer>
    <ion-button color="danger" (click)="dismiss()">Cancel</ion-button>
    <ion-button (click)="submitData()">Submit</ion-button>
</ion-footer>