                    /*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
                    /* Core CSS required for Ionic components to work properly */
                    
                    @import "~@ionic/angular/css/core.css";
                    /* Basic CSS for apps built with Ionic */
                    
                    @import "~@ionic/angular/css/normalize.css";
                    @import "~@ionic/angular/css/structure.css";
                    @import "~@ionic/angular/css/typography.css";
                    @import '~@ionic/angular/css/display.css';
                    /* Optional CSS utils that can be commented out */
                    
                    @import "~@ionic/angular/css/padding.css";
                    @import "~@ionic/angular/css/float-elements.css";
                    @import "~@ionic/angular/css/text-alignment.css";
                    @import "~@ionic/angular/css/text-transformation.css";
                    @import "~@ionic/angular/css/flex-utils.css";
                    .sc-ion-alert-ios-h {
                        --min-width: 90% !important;
                    }
                    
                    .sc-ion-popover-ios-h {
                        --min-width: 79% !important;
                    }
                    
                    .sc-ion-textarea-md-h {
                        --padding-top: 0px;
                        --padding-bottom: 0px;
                        --padding-start: 0px;
                    }
                    
                    .retriveModal,
                    .decisionModal,
                    .historyModal {
                        --height: 430px;
                    }
                    
                    .rejectModal {
                        --height: 280px;
                    }
                    
                    .retriveClassAdd {
                        --height: 585px;
                    }
                    
                    .availableModal {
                        --height: 92%;
                    }
                    
                    .top-label {
                        margin-left: 0px;
                        display: flex;
                        align-items: center;
                        float: left;
                        width: 60%;
                        padding: 0;
                        height: 38px;
                        line-height: 38px;
                        color: #333;
                        text-shadow: 0 0 1px #555;
                        font-size: 15px;
                        text-transform: capitalize;
                    }
                    
                    .top_btn:last-child {
                        width: auto !important;
                        padding: 0 5px;
                        font-size: 13px !important;
                        float: right !important;
                        text-transform: uppercase;
                        text-shadow: 0 1px 2px #999;
                        --color: #ff3300e0 !important;
                    }
                    
                    .sc-ion-buttons-md-s .button {
                        font-size: 20px;
                    }