#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    margin: auto;
    height: auto;
    box-shadow: 0 0 20px #DDD;
    background-color: #FFF;
    border-radius: 3px;
    padding: 20px 0 30px;
    overflow: hidden;
}

#container h3 {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 0 0 2px #999;
}

.logo {
    height: 100px;
    padding: 10px 0;
    width: 60%;
    margin: auto;
}

.login-form {
    margin: auto;
    width: 80%;
    height: auto;
}

ion-input {
    border: 1px solid #DDD;
    width: 100%;
    margin: auto;
    border-radius: 3px;
    text-align: left;
    padding: 0 10px !important;
}

.login_btn {
    height: 40px;
    width: 120px;
    float: right;
    --border-radius: 3px !important;
    margin-top: 20px;
    outline: none;
    --background: linear-gradient(90deg, rgb(46 45 154) 0%, rgba(231, 67, 129, 1) 100%);
}