<ion-content [fullscreen]="true">
    <div id="container">
        <div class="logo">
            <img src="./assets/logo/rt-logo.png" />
        </div>
        <h3>Sign In with Your Phone Number</h3>
        <form class="login-form" [formGroup]="loginForm" (submit)="login()">
            <ion-input placeholder="Enter your Phone Number.." formControlName="phone"></ion-input>
            <ion-button [disabled]="!loginForm.valid" type="submit " class="login_btn ">Sign In</ion-button>
        </form>
    </div>
</ion-content>