    ion-icon {
        font-size: 30px;
        color: #333;
    }
    
    ion-icon[name=exit] {
        color: #f53636;
    }
    
    .top_btn {
        --background: #FFF;
        width: 35px;
        height: 30px;
        font-size: 0;
        float: left;
        --border-radius: 0 !important;
        --box-shadow: unset;
        --color: #555;
    }
    
    .top_btn:last-child {
        width: auto;
        padding: 0 5px;
        font-size: 13px;
        float: right;
        text-transform: uppercase;
        /* text-shadow: 0 1px 2px #999; */
    }
    
    #container {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        width: 98%;
        margin: auto;
        height: auto;
        background-color: #FFF;
        border-radius: 3px;
        padding: 20px 0 30px;
        overflow: hidden;
    }
    
    #container h3,
    #container .content {
        width: 98%;
        height: auto;
        line-height: 20px;
        float: left;
        margin: auto 1%;
        overflow: hidden;
    }
    
    #container h3 {
        font-size: 17px;
        padding: 10px 0 10px;
        /* text-shadow: 0 1px 2px #999; */
        line-height: 22px;
        border-bottom: 1px solid #999;
    }
    
    #container .searchInput {
        width: 60%;
        height: 35px;
        margin: auto;
        border: 1px solid #999;
        border-radius: 3px;
        text-align: left;
        outline: none;
        font-size: 14px;
    }
    
    .content {
        padding: 10px 5px;
        box-sizing: border-box;
    }
    
    .menu-block {
        min-height: 100px;
        height: auto;
        width: 48%;
        background-color: #FFF;
        box-shadow: 0 0 20px #EEE;
        float: left;
        margin: 10px 0;
        border-radius: 5px;
        padding: 5px 5px 7px;
    }
    
    .menu-block:nth-child(odd) {
        float: left;
    }
    
    .menu-block:nth-child(even) {
        float: right;
    }
    
    .menu-block img {
        float: left;
        margin: 0 32.5% 10px;
    }
    
    .inline {
        width: 100% !important;
        min-height: unset;
        height: auto;
        margin-bottom: 0;
    }
    
    .inline img {
        margin: 0 20px 0 10px;
    }
    
    .inline ion-label {
        float: left;
        width: 100% !important;
        line-height: 18px;
        margin: 5px 0 0;
        text-align: left;
        height: auto;
        font-size: 16px;
        padding: 0 5px;
    }
    
    .inline ion-label:last-child {
        border-top: 1px solid #DDD;
    }
    
    .inline ion-label .dateTime {
        float: left;
        color: #000;
        background-color: yellow;
        /* text-shadow: 0 1px 2px #999; */
    }
    
    .inline ion-label .classYear {
        float: right;
        color: #000;
        /* text-shadow: 0 1px 2px #999; */
    }
    
    .inline ion-label .classId {
        float: right;
        color: #FFF;
        background-color: #001967;
        padding: 0 10px;
    }
    
    .inline ion-label .subject {
        float: left;
        text-transform: uppercase;
        /* text-shadow: 0 1px 2px #AAA; */
        color: #444;
    }
    
    .inline ion-label .duration {
        float: right;
        color: #1e1e1e;
        /* text-shadow: 0 1px 2px #999; */
    }
    
    .footer {
        height: 50px;
        width: 98%;
        float: left;
        background-color: #EEE;
        margin: 10px 1% 0;
        padding: 0 10px;
    }
    
    .inline ion-label ion-button,
    .footer ion-button {
        height: 30px;
        width: 80px;
        font-size: 12px;
        --border-radius: 0;
        float: right;
        margin-left: 5px;
        margin-right: 0;
        text-transform: capitalize;
        --background: #999;
    }
    
    .inline ion-label ion-select {
        float: left;
        width: 60%;
        margin-top: 5px;
        border: 1px solid #999;
        height: 30px;
        box-shadow: 0 1px 3px #bbb;
        border-radius: 3px;
    }
    
    .footer ion-button {
        margin: 10px 0;
        margin-left: 5px;
    }
    
    .footer ion-button:first-child {
        float: left;
        margin-left: 0px;
    }
    
    .footer ion-button:last-child {
        --ion-color-base: #015c25 !important;
    }