<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="top-label">Relief Request / Retrieve</ion-title>
        <ion-button class="top_btn" (click)="signOut()">
            Sign Out
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <h3>Missing Lessons <br /> {{searchDate.start_date}} To {{searchDate.end_date}}</h3>
        <div class="content">
            <div class="menu-block inline" *ngFor="let ret_val of retValues;">
                <ion-label>
                    <span class="dateTime">
                                    {{ret_val.date | date : 'dd/MM/yyyy'}}
                                    {{ret_val.display_start_time}} ({{ret_val.lessons_id}})
                                </span>
                    <span class="classId">C-{{ret_val.class_short_name}}</span>
                </ion-label>
                <ion-label>
                    <span class="subject">{{ret_val.day_short_name}}</span>
                    <span class="classYear">V-{{ret_val.classroom_short_name}}</span>
                </ion-label>
                <ion-label>
                    <span class="subject">{{ret_val.subject_short_name}}</span>
                    <span class="duration">D-{{ret_val.lession_duration}}</span>
                </ion-label>
                <ion-label>
                    <!--ion-input type="hidden" id="block_id_{{ret_val.block_id}}" [value]="ret_val.block_id"></!--ion-input-->
                    <ion-select interface="popover" (ionChange)="getTeacher($event.target.value, ret_val.block_id)" placeholder="Select Teacher" class="block_teacher">
                        <ion-select-option [value]="0" selected>No Selection</ion-select-option>
                        <ion-select-option *ngFor="let tea of teachers" [value]="tea.id">
                            {{tea.full_name}}
                        </ion-select-option>
                    </ion-select>
                    <ion-button *ngIf="fileUpload" (click)=" openFileModal(ret_val.block_id) ">File</ion-button>
                </ion-label>
            </div>
        </div>
        <div class="footer ">
            <!--ion-button color="primary " (click)="classAddRetrive() ">Add +</!--ion-button-->
            <ion-button color="danger " (click)="request() ">Cancel</ion-button>
            <ion-button color="success " (click)="requestDone() ">Submit</ion-button>
        </div>
    </div>
</ion-content>